<div class="row">


          <div class=col-md-4> 
              <img class="logo" src="../../assets/img/a.png" >    

          </div>  

          <div class=col-md-5> 
        
        </div>  


          <div class=col-md-3> 


              <button type="button" class="home_btn btn-lg  btn btn-outline-dark">
                  <a [routerLink]="['/']"> HOME  </a> 

             </button>


        </div>  

</div>  

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="row">
    <div class=col-md-3>  

       <div class="list_img" id="style-4">
                  
          <ul class="w3-ul lu " >    
              <li  *ngFor="let img of (allImages)" id={{yoo+(img.id-id).toString()}} >  
                <a [routerLink]="['/image', img.id]"> 
                  <div>
                  <img src="{{img.url}}" class="img "   width="80" height="50">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{  img.url.split("/")[2]}} 
                </div>
                </a>    
              </li>   
             
            </ul>   
            

        </div>
    </div>  


    <div class=col-md-9>  

          <div class="row">


                  <div class=col-md-12>  
                    <div [ngStyle]="{'background-image':'url('+ image.url +')'}" class="img-container">  
                        <a class="prev" [routerLink]="['/image', image.id-1]"   >&#10094;</a>
                        <a class="next"  [routerLink]="['/image', image.id+1]"  >&#10095; </a>
                    </div>  
                  </div>  



              </div>  

              
                <div class="row">
                      <div class=col-md-4>  
                        <div  class="input-container">  


                                <h5 class=" head_name card-header info-color white-text text-center py-4">
                                  <strong> Model labeling</strong>
                                </h5>

                                <input  type="text"  class="form-control mb-4 inputt"   placeholder=feature_1 disabled="disabled"  > 
                                    
                                <input  type="text"  class="form-control mb-4 inputt"  placeholder=feature_2   disabled="disabled"> 
                                <input  type="text"  class="form-control mb-4 inputt"  placeholder=feature_3   disabled="disabled">
                                <input  type="text"  class="form-control mb-4 inputt"  placeholder=feature_4  disabled="disabled">
                                <input  type="text"  class="form-control mb-4 inputt"  placeholder=feature_5  disabled="disabled">

                        </div>  
                      </div>  

                    <div class=col-md-4>  
                        <div  class="input-container">  
                        
                            <h5 class=" head_name card-header info-color white-text text-center py-4">
                                <strong> camera labeling</strong>
                              </h5>

                                <div >
                                  <input  type="text"  class="d-inline form-control mb-4 inputt"   [(ngModel)]="cam_color" disabled="disabled"   >                       
                                    <span class="d-inline " *ngIf="test.cam_color" >&#10003;</span>
                                </div>
                      

                                  <div >
                                    <input  type="text"  class="d-inline form-control mb-4 inputt"  [(ngModel)]="cam_license"  disabled="disabled"   >                       
                                      <span class="d-inline "  *ngIf="test.cam_license"   >&#10003;</span>
                                  </div>
                        

                                  <div >
                                      <input  type="text"  class="d-inline form-control mb-4 inputt"   [(ngModel)]="cam_brand" disabled="disabled"   >                       
                                        <span class="d-inline " *ngIf="test.cam_brand" >&#10003;</span>
                                    </div>
                          
                

                              <input  type="text"  class="form-control mb-4 inputt"  placeholder=feature_4 disabled="disabled">
                              <input  type="text"  class="form-control mb-4 inputt"  placeholder=feature_5  disabled="disabled">


                        </div>  
                      </div>  

                  <div class=col-md-4>  
                      <div  class="input-container">  


                          <h5 class=" head_name card-header info-color white-text text-center py-4">
                              <strong> manuel labeling</strong>
                            </h5>



                            <input  type="text"  class="form-control mb-4 inputt"  placeholder="color"   [(ngModel)]="color"     (keyup)="check_camcolor()" >
                            <input  type="text"  class="form-control mb-4 inputt"  placeholder="license" [(ngModel)]="license"  (keyup)="check_camlicense()"   >
                            <input  type="text"  class="form-control mb-4 inputt"  placeholder="brand"   [(ngModel)]="brand"     (keyup)="check_cambrand()"  >
                            <input  type="text"  class="form-control mb-4 inputt"  placeholder=feature_4 [(ngModel)]="size"  >
                            <input  type="text"  class="form-control mb-4 inputt"  placeholder=feature_5  >

                            <button type="button" class=" save btn btn-info submitt" (click) = "save()"  [routerLink]="['/image', image.id+1]"  >  save </button>

                      </div>  
                    </div>  
              
            

          </div>

    </div>  

</div>  
